In [22]:
import pandas as pd

In [29]:
#q1
df = pd.read_csv("data.csv")
col = "marks"

mean_val = df[col].mean()
result = df[df[col] > mean_val]
print(result)

    id  age  marks  weight  height grade  department  gender
0    1   20     78      68    1.72     B          CS    Male
1    2   22     85      74    1.80     A          IT  Female
3    4   21     91      82    1.75     A  Electrical  Female
5    6   20     88      66    1.70     A          CS  Female
8    9   21     95      69    1.73     A  Electrical    Male
10  11   23     76      80    1.85     B          CS    Male
11  12   19     84      61    1.68     A          IT  Female
13  14   21     90      70    1.71     A  Electrical  Female
16  17   23     81      79    1.77     A          IT    Male
18  19   22     87      73    1.76     A  Electrical    Male
20  21   20     74      67    1.70     B          CS    Male
21  22   23     89      82    1.84     A          IT  Female
23  24   22     92      78    1.79     A  Electrical  Female
25  26   20     83      64    1.69     A          CS  Female
28  29   19     94      62    1.67     A  Electrical    Male
30  31   21     77      72    1.74     B          CS    Male
31  32   20     86      68    1.71     A          IT  Female
33  34   22     90      75    1.78     A  Electrical  Female
35  36   24     79      87    1.85     B          CS  Female
36  37   21     88      73    1.76     A          IT    Male
38  39   23     93      81    1.83     A  Electrical    Male
40  41   20     75      69    1.72     B          CS    Male
41  42   24     84      92    1.88     A          IT  Female
43  44   22     91      77    1.80     A  Electrical  Female
45  46   23     82      83    1.84     A          CS  Female
48  49   24     96      89    1.87     A  Electrical    Male
50  51   20     78      68    1.72     B          CS  Female
51  52   23     85      74    1.80     A          IT    Male
53  54   21     91      82    1.75     A  Electrical    Male
55  56   20     88      66    1.70     A          CS    Male
58  59   21     95      69    1.73     A  Electrical  Female
60  61   22     76      80    1.85     B          CS  Female
61  62   19     84      61    1.68     A          IT    Male
63  64   21     90      70    1.71     A  Electrical    Male
66  67   23     81      79    1.77     A          IT  Female
68  69   22     87      73    1.76     A  Electrical  Female
70  71   20     74      67    1.70     B          CS  Female
71  72   23     89      82    1.84     A          IT    Male
73  74   22     92      78    1.79     A  Electrical    Male
75  76   20     83      64    1.69     A          CS    Male
78  79   19     94      62    1.67     A  Electrical  Female
80  81   21     77      72    1.74     B          CS  Female
81  82   20     86      68    1.71     A          IT    Male
83  84   22     90      75    1.78     A  Electrical    Male
85  86   24     79      87    1.85     B          CS    Male
86  87   21     88      73    1.76     A          IT  Female
88  89   23     93      81    1.83     A  Electrical  Female
90  91   20     75      69    1.72     B          CS    Male
91  92   24     84      92    1.88     A          IT  Female
93  94   22     91      77    1.80     A  Electrical  Female
95  96   23     82      83    1.84     A          CS  Female
98  99   24     96      89    1.87     A  Electrical    Male

In [52]:
#q2
print("Missing Values: \n",df.isnull().sum())

Missing Values:
 id                0
age               0
Marks             0
weight            0
height            0
grade             0
department        0
gender            0
BMI               0
gender_encoded    0
dtype: int64

In [53]:
#q3
for c in df.columns:
    if df[c].dtype in ["int64", "float64"]:
        df[c] = df[c].fillna(df[c].mean())
    else:
        df[c] = df[c].fillna(df[c].mode()[0])

In [33]:
#q4
df.rename(columns={'marks': 'Marks'}, inplace=True)
df.drop(columns=['id'], inplace=False)

print(df.columns)

Index(['id', 'age', 'Marks', 'weight', 'height', 'grade', 'department',
       'gender'],
      dtype='str')

In [63]:
#q5
_and = df[(df["age"] > 20) & (df["Marks"] > 60)]
_or = df[(df["age"] > 20) | (df["Marks"] > 60)]

print("Using AND - ", _and.shape[0])
print("Using OR - ", _or.shape[0])

Using AND -  52
Using OR -  92

In [40]:
#q6
df["BMI"] = df["weight"] / (df["height"] ** 2)

print(df["BMI"].head())

0    22.985398
1    22.839506
2    21.671258
3    26.775510
4    26.959840
Name: BMI, dtype: float64

In [64]:
#q7
unique_values = df["gender"].unique()
label_map = {value: index for index, value in enumerate(unique_values)}

df["gender_encoded"] = df["gender"].map(label_map)

print(label_map)
print(df["gender_encoded"].head())

{'Male': 0, 'Female': 1}
0    0
1    1
2    0
3    1
4    0
Name: gender_encoded, dtype: int64

In [70]:
#q8
grouped = df.groupby("department")["Marks"].agg(["mean", "max", "min", "count"])

print(grouped)

            mean  max  min  count
department
CS          78.4   88   72     20
Civil       56.0   73   47     20
Electrical  91.9   96   87     20
IT          77.9   89   54     20
Mechanical  64.7   71   60     20

In [73]:
#q9
df_sorted = df.sort_values(by=["age", "Marks"], ascending=[True, False])

print(df_sorted[["age", "Marks"]].head())

    age  Marks
28   19     94
78   19     94
11   19     84
61   19     84
2    19     67

In [75]:
#q10
df_extra = df[["id", "department"]].copy()

for join_type in ["inner", "outer", "left", "right"]:
    merged = pd.merge(df, df_extra, on="id", how=join_type)
    print(f"{join_type.capitalize()} shape:", merged.shape)

Inner shape: (100, 11)
Outer shape: (100, 11)
Left shape: (100, 11)
Right shape: (100, 11)

In [46]:
#q11
pivot = pd.pivot_table(df,values="Marks",index="department",columns="gender",aggfunc="mean"
)

print(pivot)

gender      Female  Male
department
CS            79.1  77.7
Civil         54.8  57.2
Electrical    91.4  92.4
IT            79.0  76.8
Mechanical    63.9  65.5

In [47]:
#q12
Q1 = df["Marks"].quantile(0.25)
Q3 = df["Marks"].quantile(0.75)
IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR

outliers = df[(df["Marks"] < lower) | (df["Marks"] > upper)]

print("Number of outliers:", outliers.shape[0])

Number of outliers: 0

In [48]:
#q13
before = df.shape[0]

df.drop_duplicates(inplace=True)

after = df.shape[0]

print("Rows removed:", before - after)

Rows removed: 0

In [49]:
#q14
df.to_csv("Cars_data_cleaned.csv", index=False)

print("File saved successfully")

File saved successfully